/* common shared styles */
body{

  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body{
    
font-family: 'lato',sans-serif;

  font-family: "Open Sans", sans-serif;
 

}
.btn-primary{
  border-radius: 5px;
  background-color: orange;
  border: none;
 font-size: 20px;
 color: white;
 padding: 16 35;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
  font-size: 45px;
  font-weight: 800;
   color: 1E1E1E;
}
.text-primary{
  color:orange;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  color: black;
}
nav a{
text-decoration: none;
}
nav > ul > li> .port{
  color: black;
}
  color: black;
  /* header related styles */
  .header{
  background-color:#FFF6EF ;
  }
  .banner-content{
    max-width: 400px;
  }
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right; 
  justify-content: space-between; 
}

.banner .profile-pic{
  width: 500px;
}
.about{
  padding: 130px;
  border-radius: 10px;
  background:#FFF8F3 ;
  margin: 130px 0;
}
.section-title{
  text-align: center;
  color: #181818;
  font-size: 35px;
  font-weight: 700px;
  line-height: normal;
  font-style: normal;
}
.section-description{
text-align: center;
color: #757575;
font-size: 18px;
}
/* main section styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about-info{
  text-align: center;
}

/* skills related styles */
.what-i-do-description{
  padding: 30px 150px;
}

.skills-container{
  display: flex;
  gap: 24px;
}

.skills{
padding: 30px;
border-radius: 5px;
background: #fff;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}